.Dashboard {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.8rem;
  margin: 2rem 0;
}
.Dashboard_items {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Dashboard_item-value {
  font-weight: bold;
  font-size: 1.5rem;
}
